.typebtn {
  padding: 0.5rem 1rem;
  transition: all 0.3s ease-in-out;
  border-radius: 25px;
  cursor: pointer;
  border: 1px solid rgba(128, 128, 128, 0.774);
}
.typebtn_active {
  transform: scale(1.1);
  /* color: white; */
  background-color: aqua;
  border: 1px solid aqua;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.type {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}
