.App {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  height: 100%;
  margin-top: 3rem;
}
.appContainor {
  /* background-color: red; */
  width: 60%;
  /* height: 50vh; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.cardHolder {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.title {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
}
